{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Settings</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Change Password</h6>

                <form class="forms-sample" method="post" action="">
                    <div id="toast">
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert"><strong></strong><i>{{ message }}</i></div>
                        {% endfor %}
                    </div>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password</label>
                        <input type="password" name="old_password" class="form-control" id="old_password" required placeholder="Enter Old Password">
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" name="new_password" class="form-control" id="new_password" required placeholder="Enter New Password">
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password" required placeholder="Confirm Old Password">
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}