{% extends 'auth.html' %}

{% load static %}

{% block content %}
<h5 class="text-muted fw-normal mb-4">Forgot Password? Recover your account.</h5>
<form class="forms-sample" method="post" action="">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" required placeholder="Email">
    </div>
    <div>
        <button type="submit"
                class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
            <i class="btn-icon-prepend" data-feather="send"></i>
            Submit
        </button>
    </div>
</form>
{% endblock content %}
