{% extends 'auth.html' %}

{% load static %}

{% block content %}
<h5 class="text-muted fw-normal mb-4">Complete password recovery! Enter a strong password.</h5>
<form class="forms-sample" method="post" action="">
    {% csrf_token %}
    <div id="toast">
        {% for message in messages %}
        <div class="alert alert-info" role="alert"><strong></strong><i>{{ message }}</i></div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">Password</label>
        <input type="password" name="new_password" class="form-control" id="new_password" required
               autocomplete="current-password" placeholder="New Password">
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Password</label>
        <input type="password" name="confirm_password" class="form-control" id="confirm_password" required
               autocomplete="current-password" placeholder="Confirm Password">
    </div>
    <div>
        <button type="submit"
                class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
            <i class="btn-icon-prepend" data-feather="send"></i>
            Submit
        </button>
    </div>
</form>
{% endblock content %}
