{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Purchase Voucher</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h6 class="card-title">Payment Form</h6>

                <form class="forms-sample" method="post" action="">
                    {% csrf_token %}
                    <div id="toast">
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert"><strong></strong><i>{{ message }}</i></div>
                        {% endfor %}
                    </div>
                    <label for="event" class="form-label">Description</label>
                    <select class="form-control" name="event_id" id="event" required>
                        <option>Select Description</option>
                    {% for e in events %}
                        <option value="{{ e.id }}">{{ e.name }}</option>
                    {% endfor %}
                    </select>
                    <div class="my-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" name="quantity" class="form-control" id="quantity" required placeholder="Quantity">
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Recent Transactions</h4>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12 grid-margin">
        <table class="table">
            <tr>
                <th>Description</th>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>

            {% if payments %}
            {% for payment in payments %}
            <tr>
                <td>{{ payment.voucher.event.name  }}</td>
                <td>{{ payment.transaction_id}}</td>
                <td>#{{ payment.amount_paid }}</td>
                <td>{{ payment.payment_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No available payment records</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock content %}