<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Voucher Ticket System</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="../../../css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->

    <!-- core:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/flatpickr/flatpickr.min.css' %}">
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/demo1/style.min.css' %}">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="{% static 'assets/images/logo.png' %}">
</head>
<body class="sidebar-dark">
<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">

            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pe-md-0">
                                <div class="auth-side-wrapper">

                                </div>
                            </div>
                            <div class="col-md-8 ps-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="{% url 'login' %}" class="noble-ui-logo d-block mb-2"><small>DU</small><span> <small>E-VOUCHER</small></span></a>
                                    {% block content %}
                                    {% endblock content %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- core:js -->
<script src="{% static 'assets/vendors/core/core.js' %}"></script>
<!-- endinject -->

<!-- inject:js -->
<script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
<!-- endinject -->
<script src="{% static 'assets/js/template.js' %}"></script>

</body>
</html>